# ===============================
# Eclipse workspace
# ===============================
/.metadata/

# ===============================
# Eclipse project files (all projects)
# ===============================
.project
.classpath
.settings/

# ===============================
# Java build output (all projects)
# ===============================
bin/
target/
**/bin/
**/target/

# ===============================
# Logs
# ===============================
*.log
